<div id="menu">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="https://ctep.net.br" target="_blank">
                    <img class="logo" src="assets/images/logo.png">
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="form-grid background">
    <div class="four">
        <div class="login-fields">
            <h2>Acesso ao Portal</h2>
            <ng-container *ngIf="error">
                <div class="error">
                    <span>{{errorMessage}}</span>
                </div>
            </ng-container>
            <mat-form-field class="twelve">
                <mat-label>Login:</mat-label>
                <input matInput [(ngModel)]="usuario.Login">
            </mat-form-field>
            <mat-form-field class="twelve">
                <mat-label>Senha:</mat-label>
                <input matInput type="password" [(ngModel)]="usuario.Senha" (keyup.enter)="login()">
            </mat-form-field>
            <div class="buttons">
                <a (click)="esqueciSenha()">Esqueci a senha.</a>
                <button mat-raised-button color="primary" (click)="login()">Entrar</button>
            </div>
        </div>
    </div>
    <div class="eight">
        <div class="login">
            <h1>Portal Acadêmico</h1>
            <div class="left">
                <span>Praticidade para sua vida acadêmica.</span>
                <span>Serviços para facilitar a sua experiência como:</span>
                <ul>
                    <li>Consulta de Notas</li>
                    <li>Quadro de Avisos</li>
                    <li>Situação Financeira</li>
                </ul>
            </div>
        </div>
    </div>
</div>
