@import '../theming.scss';

.mat-toolbar {
    min-height: 40px;
}
.mat-toolbar-row {
    background-color: $primary;
    z-index: 2;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
    color: white;
    height: 40px;
    h4 {
        font-size: 16px;
    }
    .countdown {
        font-size: 12px;
    }
    .mat-icon {
        position: relative;
        top: 5px;
        margin-left: 20px;
        font-size: 24px;
    }
}

.mat-drawer-container {
    height: 100vh;
    overflow-y: auto;
    .mat-drawer {
        padding-top: 20px;
        background-color: $off-white;
        border-right: 2px solid $light-gray;
        .sessao-menu {
            background-color: white;
            border-radius: 5px;
            display: grid;
            margin: 10px;
            padding: 10px;
            border: 1px solid $light-gray;
            font-size: 12px;
            h4 {
                margin: 0;
                padding-bottom: 5px;
            }
            >* {
                margin: 2px 0;
            }
        }
    }
}

.logo img{
    max-width: 200px;
}